@model IEnumerable<SchoolManagement.Models.DivisionClasses>
@{
    ViewBag.Title = "Teacher Page";
    Layout = "~/Views/SharedTemplate/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Your Schedule</h1>
    </div>
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Teacher")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Schedule", "PlanTeacher", "Teacher")</li>
</ol>

<div>
    <table class="table table-bordered" id="dataTable">
        <tr>
            <th>IDClass</th>
            <th>IDSubject</th>
            <th>SubjectName</th>
            <th>Time</th>
            <th>ClassRoom</th>
            <th>Type</th>
            <th>Note</th>
            <th>View List</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IDClass)</td>
                <td>@Html.DisplayFor(modelItem => item.Class_Subjects.SubjectID)</td>
                <td>@Html.DisplayFor(modelItem => item.Class_Subjects.Subjects.SubjectName)</td>
                <td>@Html.DisplayFor(modelItem => item.Class_Subjects.Time)</td>
                <td>@Html.DisplayFor(modelItem => item.Class_Subjects.Classroom)</td>
                <td>@Html.DisplayFor(modelItem => item.Class_Subjects.ClassType)</td>
                <td>@Html.DisplayFor(modelItem => item.Class_Subjects.Note)</td>
                <td>@Html.ActionLink("View", "ListClass", new { id = item.IDClass })</td>
            </tr>
        }
    </table>
</div>

