@model PagedList.IPagedList<SchoolManagement.Models.funSubject_Result>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/SharedTemplate/_LayoutAdmin.cshtml";
    int _stt = 1;
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reset subject</h1>
    </div>
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Admin")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Reset", "ResetSubjects", "ResetAll")</li>
</ol>

@using (Html.BeginForm("ResetSubjects", "ResetAll", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            Search Subject:
            <input type="text" name="searchString" value="@ViewBag.searchString" /> <button type="submit">Search</button>
            <hr />
            You can @Html.ActionLink("delete all", "DeleteSubject")
        </div>
    </div>
}
<br />

<div>
    <table class="table table-bordered" id="dataTable">
        <tr>
            <th>STT</th>
            <th>IDSubject</th>
            <th>SubjectName</th>
            <th>Quantity</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@_stt</td>
                @{ _stt++;}
                <td>@Html.DisplayFor(modelItem => item.IDSubject)</td>
                <td>@Html.DisplayFor(modelItem => item.SubjectName)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            </tr>
        }
    </table>
    <b>@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.searchString }))</b>
</div>