@model SchoolManagement.Models.Subjects

@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/SharedTemplate/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Delete Subject</h1>
    </div>
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Admin")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Subject", "Index", "Subject")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Delete", "Delete", "Subject")</li>
</ol>

<h3>Are you sure you want to delete this?</h3>
<div>
    <table class="table">
        <tr>
            <th>ID</th>
            <td>@Html.DisplayFor(model => model.ID)</td>
        </tr>
        <tr>
            <th>SubjectName</th>
            <td>@Html.DisplayFor(model => model.SubjectName)</td>
        </tr>
        <tr>
            <th>TC</th>
            <td>@Html.DisplayFor(model => model.TC)</td>
        </tr>
        <tr>
            <th>TC_Fee</th>
            <td>@Html.DisplayFor(model => model.TC_Fee)</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>@Html.DisplayFor(model => model.Note)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
